<html>

<head>
    <title>HostYourDocs - {{ project.name }}</title>
</head>

<body>
    <h1>{{ project.name }}</h1>
    <h2>Tags</h2>
    <ul>
        {% for entry in project.tags %}
        <li><a href="/{{entry.link}}">{{entry.tag}}</a></li>
        {% endfor %}
    </ul>
    <h2>Versions</h2>
    <ul>
        {% for entry in project.versions %}
        <li><a href="/{{entry.link}}">{{entry.version}}</a></li>
        {% endfor %}
    </ul>

    <footer>
        <h2>Misc</h2>
        <ul>
            <li>Hostet by <a>REPLACE_ME</a></li>
            <li><a>Website</a></li>
            <li><a>Impress</a></li>
            <li><a>Privacy</a></li>
        </ul>
    </footer>
</body>

</html>