/*==================================================================================================
  HTML Basic Setup
==================================================================================================*/

:root {
    --color-heading: #529CD6;
    --color-text: #9CDCFE85;
    --color-link: #529CD6;

    --color-body: #1E2227;
    --color-content: #1c1d22;
    --color-card: #282B34;
    --color-border: #5b829785;

    --border-width: 0.15rem;
}

body {
    background: var(--color-body);
    color: var(--color-text);
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-family: overpass;
}

#body-content {
    background: var(--color-content);
    border-left: var(--border-width) var(--color-border) solid;
    border-right: var(--border-width) var(--color-border) solid;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    max-width: 1536px;
}

/*==================================================================================================
  HTML Headings
==================================================================================================*/

h1, h2, h3 {
    color: var(--color-heading);
    margin: 0;
}

h1 {
    font-size: 5rem;
    margin-top: 10%;
}

h2 {
    font-size: 2.5rem;
}


h3 {
    color: var(--color-text);
    font-size: 1.8rem;
}

.h1-underline {
    border-bottom: var(--border-width) var(--color-border) solid;
    width: 100%;
    margin-bottom: 10%;
}

/*==================================================================================================
  HTML List
==================================================================================================*/

li::marker {
    color: var(--color-text)
}

/*==================================================================================================
  HTML Links
==================================================================================================*/

a {
    color: var(--color-link);
    text-decoration: none;
}

/*==================================================================================================
  HTML Footer
==================================================================================================*/

footer {
    border-top: var(--border-width) var(--color-border) solid;
    margin-top: 5%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

/*==================================================================================================
  Card
==================================================================================================*/

#cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.card {
    background: var(--color-card);
    border: var(--border-width) var(--color-border) solid;
    width: 45%;
    margin-bottom: 5%;

}

.card h2 {
    margin-top: 7.5%;
    margin-left: 10%;
}

.card-content {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.card .card-list {
    width: 50%;
}