<html>

<head>
    <title>{{html_title}}</title>
</head>

<body>
    <h1>{{html_title}}</h1>
    <h2>Projects</h2>
    <ul> {% for project in projects %}
        <li><a href="{{ project }}">{{ project }}</a></li>
        {% endfor %}
    </ul>

    <footer>
        <h2>Legal</h2>
        <ul>
            {% if name_hosted_by %}
            <li>Hostet by <a {% if link_hosted_by %} href="{{link_hosted_by}}" {% endif %}>{{name_hosted_by}}</a></li>
            {% endif %}
            {% if link_impress %}
            <li><a href="{{link_impress}}">Impress</a></li>
            {% endif %}
            {% if link_privacy %}
            <li><a href="{{link_privacy}}">Privacy</a></li>
            {% endif %}
        </ul>
    </footer>
</body>

</html>